
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,500&display=swap');
body{
    background-color: black;
    font-family: 'Josefin Slab', serif;
    font-size: 2rem;
    color: white;
}